.theme-div
  %h4 Language
  .row
    .theme-selector.col-md-3.col-sm-4
      %label{:for => "auto-theme"}
        .selector
          Auto
          %input{:name => "theme-radio", :id => "auto-theme", :type => "radio", :value => "auto",  :checked => cookies[:theme] == 'auto', :class => "choose-theme form-check-input theme-selector-boxes"}
    .theme-selector.col-md-3.col-sm-4
      %label{:for => "dark-theme"}
        .selector
          Dark 
          %input{:name => "theme-radio", :id => "dark-theme", :type => "radio", :value => "dark", :checked => cookies[:theme] == 'dark', :class => "choose-theme form-check-input theme-selector-boxes"} 
    .theme-selector.col-md-3.col-sm-4
      %label{:for => "light-theme"}
        .selector
          Light 
          %input{:name => "theme-radio", :id => "light-theme", :type => "radio", :value => "light", :checked => cookies[:theme] == 'light', :class => "choose-theme form-check-input theme-selector-boxes"} 
