@import "variables.scss";


.mobile-navigation{
    border-bottom: 1px solid var(--divide-color);
    .bottom-navigation{
        background-color: var(--secondary-background-color) !important;
        text-align: center;
        svg{
            cursor: pointer;
            fill: var(--primary-text-color);
        }
        .active{
            padding-top: .55rem !important;
            box-shadow: inset 0 2px var(--primary-text-color);
            path{
                fill: var(--primary-text-color);
            }
        }
    }
}

.full-desktop-navigation{
    background-color: var(--primary-background-color) !important;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--divide-color) !important;
    .desktop-navigation{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        .navbar{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            .link{
                height: 100% !important;
                padding: 0 !important;
                cursor: pointer;
                margin-right: 1rem;
                padding-top: 1.1rem !important;
                padding-bottom: 1rem !important;
                .nav-link{
                    margin-bottom: 1px; // if nav links are strange are bcs of this
                    font-weight: 500 !important;
                    padding-left: 0rem !important;
                    padding-right: 0rem !important;
                    color: var(--primary-text-color);
                }
            }
            .desktop-logo{
                margin-right: 2.5rem;
            }
          .separate-line{
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-left: 1px solid var(--divide-color);
            margin-right: 2rem;
          }
        }
        .circle{
            height: 2.55rem;
            width: 2.55rem;
            background-color: var(--secondary-background-color);
            border-radius: 50%;
            display: flex; /* or inline-flex */
            align-items: center; 
            justify-content: center;
            svg{
                cursor: pointer;
                fill: var(--primary-text-color);
            }
        }
        .active{
            box-shadow: inset 0 -2px 0  var(--accent-color);
            a{
                color: var(--accent-color) !important;
            }
            cursor: pointer;
            transition: box-shadow .2s ease-in-out;
            
        }
        .not-active{
            &:hover{
                box-shadow: inset 0 -2px 0  var(--divide-color);
                transition: box-shadow .2s ease-in-out;
            }   
        }
    }
}