.profile-tabs{
    .theme-div{
        input{
            box-shadow: none !important;
            cursor: pointer;
            background-color: red;
        }
        label{
            width: 100% !important;
            cursor: pointer;
        }
        input[type="checkbox"] {
            box-shadow: none;
        }
        padding-top: 2rem;
        .theme-lang-selector{
            a{
                color: var(--primary-text-color) !important;
            }
            label{
                margin-top: 1rem;

            }
            
            .selector{
                border-radius: 5px;
                &:hover{
                    border: 1px solid var(--primary-text-color);
                    transition: border .25s ease-in-out;
                }
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                padding: 1.5rem;
                border: 1px solid var(--divide-color);
                .form-check-input{
                    border-radius: 50%;
                    background-color: var(--primary-background-color) !important;
                    border-color: var(--primary-text-color) !important;
                    outline: none;
                    &:checked{
                        border-color: var(--accent-color) !important;
                        background-color: var(--accent-color) !important;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                    }
                    &:focus{
                        outline: none !important;
                    }
                }
            }
            .selector.active{
                border: 2px solid var(--accent-color);
                font-weight: bold !important;
            }
        }
    }
}