/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 @import "variables.scss";
 @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
 
*{
    font-family: 'Barlow', sans-serif !important;
    font-weight: 500 !important;
    text-decoration: none !important;
}

body{
    background-color: var(--primary-background-color) !important;
}

input[disabled="disabled"] {
    cursor: not-allowed !important; 
    background-color: var(--secondary-background-color) !important;
    color: var(--primary-text-color) !important;
    outline-width: 0 !important;
    box-shadow: 0 0 0 rgb(255, 255, 255) !important;
}

a:focus{
    outline: var(--reverse-background-color) solid 1.5px !important; 
}

.field-text-input{
    border: 1px solid var(--reverse-background-color) !important;
    background-color: var(--primary-background-color) !important;
    color: var(--primary-text-color) !important;
    height: 2.75rem;
    font-weight: 300 !important;
    &:focus{
        box-shadow: -3px 0 var(--reverse-background-color) !important;
    }
}