$text-color-dark: #E4E6EB;
$background-color-dark: #000000;
$secondary-color-dark: #1a1a1a;
$important-color-dark: #FEBE10;
$hover-color-dark: #FEBE10;


$text-color-light: #1a1a1a;
$background-color-light: white;
$secondary-color-light: #f5f5fa;
$important-color-light: black;
$hover-color-light: #2a45f0;


@media (prefers-color-scheme: dark) {
    body{
        --text-color: #{$text-color-dark} !important;
        --background-color: #{$background-color-dark} !important;
        --secondary-color: #{$secondary-color-dark} !important;
        --important-color: #{$important-color-dark} !important;
        --hover-color: #{$hover-color-dark} !important;
    }
}
@media (prefers-color-scheme: light){
    body{
        --text-color: #{$text-color-light} !important;
        --background-color: #{$background-color-light} !important;
        --secondary-color: #{$secondary-color-light} !important;
        --important-color: #{$important-color-light} !important;
        --hover-color: #{$hover-color-light} !important;
    }
}

body.light{
    --text-color: #{$text-color-light} !important;
    --background-color: #{$background-color-light} !important;
    --secondary-color: #{$secondary-color-light} !important;
    --important-color: #{$important-color-light} !important;
    --hover-color: #{$hover-color-light} !important;
}
body.dark{
    --text-color: #{$text-color-dark} !important;
    --background-color: #{$background-color-dark} !important;
    --secondary-color: #{$secondary-color-dark} !important;
    --important-color: #{$important-color-dark} !important;
    --hover-color: #{$hover-color-dark} !important;
}