=render partial: 'profile_tabs'
.settings-tabs
  .align-items-start.d-md-flex
    #v-pills-tab.nav.flex-column.nav-pills.me-3{"aria-orientation" => "vertical", :role => "tablist"}
      %button#v-pills-home-tab.nav-link.active{"aria-controls" => "v-pills-home", "aria-selected" => "true", "data-bs-target" => "#v-pills-home", "data-bs-toggle" => "pill", :role => "tab", :type => "button"}
        =t('settings.public')
      %button#v-pills-profile-tab.nav-link{"aria-controls" => "v-pills-profile", "aria-selected" => "false", "data-bs-target" => "#v-pills-profile", "data-bs-toggle" => "pill", :role => "tab", :type => "button"}
        =t('settings.activity')
      %button#v-pills-messages-tab.nav-link{"aria-controls" => "v-pills-messages", "aria-selected" => "false", "data-bs-target" => "#v-pills-messages", "data-bs-toggle" => "pill", :role => "tab", :type => "button"}
        =t('settings.pass_and_auth')
      %button#v-pills-settings-tab.nav-link{"aria-controls" => "v-pills-settings", "aria-selected" => "false", "data-bs-target" => "#v-pills-settings", "data-bs-toggle" => "pill", :role => "tab", :type => "button"}
        =t('settings.billing')
    #v-pills-tabContent.tab-content.settings-tab
      #v-pills-home.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-home-tab", :role => "tabpanel"} 1
      #v-pills-profile.tab-pane.fade{"aria-labelledby" => "v-pills-profile-tab", :role => "tabpanel"} 2
      #v-pills-messages.tab-pane.fade{"aria-labelledby" => "v-pills-messages-tab", :role => "tabpanel"} 3
      #v-pills-settings.tab-pane.fade{"aria-labelledby" => "v-pills-settings-tab", :role => "tabpanel"} .4